In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.preprocessing import LabelEncoder

In [2]:
# read datasets
train = pd.read_csv('/Users/nikhilverma/Desktop/kaggle/mercedez/train.csv')
test = pd.read_csv('/Users/nikhilverma/Desktop/kaggle/mercedez/test.csv')

# process columns, apply LabelEncoder to categorical features
for c in train.columns:
    if train[c].dtype == 'object':
        lbl = LabelEncoder() 
        lbl.fit(list(train[c].values) + list(test[c].values)) 
        train[c] = lbl.transform(list(train[c].values))
        test[c] = lbl.transform(list(test[c].values))

# shape        
print('Shape train: {}\nShape test: {}'.format(train.shape, test.shape))

Shape train: (4209, 378)
Shape test: (4209, 377)

In [3]:
from sklearn.decomposition import PCA, FastICA
n_comp = 10

# PCA
pca = PCA(n_components=n_comp, random_state=42)
pca2_results_train = pca.fit_transform(train.drop(["y"], axis=1))
pca2_results_test = pca.transform(test)

# ICA
ica = FastICA(n_components=n_comp, random_state=42)
ica2_results_train = ica.fit_transform(train.drop(["y"], axis=1))
ica2_results_test = ica.transform(test)

# Append decomposition components to datasets
for i in range(1, n_comp+1):
    train['pca_' + str(i)] = pca2_results_train[:,i-1]
    test['pca_' + str(i)] = pca2_results_test[:, i-1]
    
    train['ica_' + str(i)] = ica2_results_train[:,i-1]
    test['ica_' + str(i)] = ica2_results_test[:, i-1]
    
y_train = train["y"]
y_mean = np.mean(y_train)

In [5]:
 ()# mmm, xgboost, loved by everyone ^-^
import xgboost as xgb

# prepare dict of params for xgboost to run with
xgb_params = {
    'n_trees': 500, 
    'eta': 0.005,
    'max_depth': 4,
    'subsample': 0.95,
    'objective': 'reg:linear',
    'eval_metric': 'rmse',
    'base_score': y_mean, # base prediction = mean(target)
    'silent': 1
}

# form DMatrices for Xgboost training
dtrain = xgb.DMatrix(train.drop('y', axis=1), y_train)
dtest = xgb.DMatrix(test)

# xgboost, cross-validation
cv_result = xgb.cv(xgb_params, 
                   dtrain, 
                   num_boost_round=500, # increase to have better results (~700)
                   early_stopping_rounds=50,
                   verbose_eval=50, 
                   show_stdv=False
                  )

num_boost_rounds = len(cv_result)
print(num_boost_rounds)

# train model
model = xgb.train(dict(xgb_params, silent=0), dtrain, num_boost_round=num_boost_rounds)

/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

[0]	train-rmse:12.6399	test-rmse:12.6383
[50]	train-rmse:11.0903	test-rmse:11.1515
[100]	train-rmse:10.0181	test-rmse:10.1468
[150]	train-rmse:9.28968	test-rmse:9.48773
[200]	train-rmse:8.80275	test-rmse:9.06668
[250]	train-rmse:8.47846	test-rmse:8.80237
[300]	train-rmse:8.26051	test-rmse:8.63724
[350]	train-rmse:8.09259	test-rmse:8.53683
[400]	train-rmse:7.94862	test-rmse:8.47724
[450]	train-rmse:7.83335	test-rmse:8.44244
500

In [6]:
# check f2-score (to get higher score - increase num_boost_round in previous cell)
from sklearn.metrics import r2_score

# now fixed, correct calculation
print(r2_score(dtrain.get_label(), model.predict(dtrain)))

0.611939628597

In [7]:
# make predictions and save results
y_pred = model.predict(dtest)
output = pd.DataFrame({'id': test['ID'].astype(np.int32), 'y': y_pred})
output.to_csv('xgboost-depth{}-pca-ica.csv'.format(xgb_params['max_depth']), index=False)

In [8]:
output

        id           y
0        1   81.666069
1        2   99.225662
2        3   80.287704
3        4   79.760498
4        5  116.713974
5        8   97.232895
6       10  112.164047
7       11   97.171219
8       12  114.375961
9       14   97.339806
10      15  114.453857
11      16  104.715363
12      17   97.563347
13      19   97.407883
14      20  104.450211
15      21   97.950073
16      22  114.850983
17      23   97.563347
18      26   96.815239
19      28   95.018410
20      29   94.971786
21      33   94.971786
22      35   95.089500
23      41   95.041565
24      42   95.070549
25      43  115.843811
26      45  103.494438
27      46  103.646492
28      51   94.626015
29      53   80.047836
...    ...         ...
4179  8361  109.608551
4180  8363  103.932655
4181  8364   93.945976
4182  8365   93.623695
4183  8366  102.755226
4184  8370  109.769730
4185  8372   93.132385
4186  8376   93.670525
4187  8377  110.145454
4188  8379  110.061111
4189  8380   93.599228
4190  8381  111.099312
4191  8386   93.111069
4192  8388  102.466682
4193  8389   93.166878
4194  8391  110.279930
4195  8394   94.115974
4196  8396  106.700600
4197  8398  102.783073
4198  8400  111.365326
4199  8401   93.167999
4200  8404   92.999870
4201  8407   94.098190
4202  8408  111.574020
4203  8409  109.885750
4204  8410  106.700600
4205  8411   93.314270
4206  8413   93.655991
4207  8414  110.256119
4208  8416   93.166878

[4209 rows x 2 columns]